body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 8px 24px;
}

.navbar__logo{
    font-size: 24px;
    color: dimgrey;
}

.navbar__logo i{
    color:dimgrey
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li{
    padding: 8px 12px;
}
.navbar__menu li:hover{
    background-color:gray;
    border-radius: 4px;
}

.navbar__links{
    list-style: none;
    color: dimgrey;
    display: flex;
    padding-left: 0;
}

.navbar__links{
    padding: 8px 12px;
}

.navbar__toglebtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
}
@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 26px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li{
        width: 100%;
        text-align: center;
    }
    .navbar__links{
        display: none;
        justify-content: center;
        width: 96%;
    }

    .navbar__toglebtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__links.active {
        display: flex;
    }

}